/* .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .nav-links li {
    padding: 14px 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .nav-links a:hover {
    box-shadow: 0 8px 16px rgba(250, 248, 248, 0.2);
  }
   */

   .navbar {
    background-color: #333;
    overflow: hidden;
}
  
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
  
.nav-links li {
    padding: 14px 20px;
}
  
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}
  
.nav-links a:hover {
    box-shadow: 0 8px 16px rgba(250, 248, 248, 0.2);
}

.nav-links button {
    background-color: #333;
    color: white;
    border: none;
    font-size: 16px;
}

.nav-links button:hover {
    box-shadow: 0 8px 16px rgba(250, 248, 248, 0.2);
}

.nav-links li.logout {
  margin-left: auto;
}
